#main{
    width: 100%!important;
}
#main .wpb_wrapper .mp-container .mp-title{
    height: 150px!important;
}

#main .mp-two-column .mp-container.mp-post-main {
    width: 32%!important;
    padding: 0.5%;
}

#navigation-inner .tabs-nav{
    min-height: 266px!important;
}

#navigation-inner .sub-menu{
    display: block;
}

#navigation-inner .sub-menu li{
    float: left!important;
}


input[type='submit'], button, #wp-calendar #today, .pricing-box .plan-badge, .scrollToTop, .mm-header, .widget-area .widget .tagcloud a:hover, .page-links span, .page-links a:hover span, .pagination span.current, .pagination a:hover, blockquote.box-left, blockquote.box-right, blockquote.callout, .article-labels span, .rating-bar-value, #site-navigation ul li.megamenu ul li.menu-label a, .mp-container .mp-comment, .meta-comments, .header-search .searchform-wrapper, #site-utility .header_cart_link .cart_product_count, #mobile-site-navigation .mobile-menu-header, .mnky-posts-grid .mpg-item .mpg-category{
    background-color:#db0a5b;
}
::selection{
    background-color:#db0a5b;
}
::-moz-selection{
    background-color:#db0a5b;
}
#secondary-navigation-wrapper{
    background-color:rgba(219,10,91,0.98);
}
.themecolor_txt, a, a:hover, span.required,  blockquote.center p, #comments .comment-reply-link:hover,#comments .comment-meta a:hover, .vc_toggle_default .vc_toggle_title .vc_toggle_icon:after, .entry-header .entry-meta a:hover, #comments p.comment-notes:before, p.logged-in-as:before, p.must-log-in:before, .sticky .post-preview:after, .separator_w_icon i, .format-chat p:nth-child(odd):before,.author .author-info a, #comments .comment-navigation a:hover, .pagination a.next:hover, .pagination a.prev:hover, .footer-sidebar a:hover, .footer-sidebar .widget_nav_menu ul li.current-menu-item a:hover, .team_member_position, .heading_wrapper .heading_subtitle:after, .testimonials-slider .flex-control-paging li a.flex-active:after, .wpb_tour .wpb_tabs_nav li.ui-tabs-active a, .wpb_tour .wpb_tabs_nav li a:hover, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a, #site-navigation .mnky-menu-posts .menu-post-container a:hover h6, .mnky-related-posts .related-post-container a:hover h6, .mnky-posts .mp-title a:hover, .mp-author a:hover, .entry-meta-blog .meta-author:hover, .archive-layout .entry-category a:hover, .mp-category a:hover, .rating_aspect_value .rating-value, .rating_summary_value, .rating-stars, #mobile-site-navigation ul > li > a:hover, .woocommerce-MyAccount-navigation ul li.is-active a {
    color:#db0a5b;
}
input[type='submit'], input:focus,textarea:focus, blockquote.border p, blockquote.bold:after, .rating-bar-value:after {
    border-color:#db0a5b;
}
.mp-container .mp-comment:after, .meta-comments:after{
    border-left-color:#db0a5b;
    border-top-color:#db0a5b;
}
.header-search .searchform-wrapper:after{
    border-right-color:#db0a5b;
    border-bottom-color:#db0a5b;
}
.woocommerce-MyAccount-navigation ul li.is-active {
    border-bottom-color:#db0a5b;
}
.woocommerce div.product span.price,.woocommerce div.product p.price,.woocommerce #content div.product span.price,.woocommerce #content div.product p.price,.woocommerce-page div.product span.price,.woocommerce-page div.product p.price,.woocommerce-page #content div.product span.price,.woocommerce-page #content div.product p.price, .woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price, #site-utility .header_cart_widget .woocommerce a:hover, a:hover, .woocommerce ul li.product-category:hover h3,.woocommerce ul li.product-category:hover h3 mark {
    color:#db0a5b;
}
.woocommerce a.button, .woocommerce .page-sidebar a.button, .woocommerce button.button,.woocommerce input.button,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce-page a.button,.woocommerce-page button.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button, .woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page #content input.button.alt, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce a.added_to_cart,.woocommerce-page a.added_to_cart, .woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a {
    background-color:#db0a5b;
}
.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
    background-color:#db0a5b;
}
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a{
    border-color:#db0a5b;
}
#site-utility .header_cart_widget .woocommerce a {color:#777777}

#site-utility .header_cart_widget .woocommerce .total {color:#2b2b2b}.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce #respond input#submit:hover,.woocommerce #content input.button:hover,.woocommerce-page a.button:hover,.woocommerce-page button.button:hover,.woocommerce-page input.button:hover,.woocommerce-page #respond input#submit:hover,.woocommerce-page #content input.button:hover, .woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce-page #content input.button.alt:hover {background-color:#2b2b2b}#main, #site-header #header-container, #top-bar, #mobile-site-header, #navigation-wrapper, #navigation-inner, #container, .inner, li.megamenu-tabs .submenu-content, #navigation-inner, .page-header, .header-search .search-input, #wrapper .author, .header-search {max-width:1200px; }.header-sticky #site-navigation ul li.megamenu > ul, .header-sticky #site-navigation ul li.megamenu-tabs > ul.sub-menu {width:100%; max-width:1200px; left: calc(50% - 600px);}@media only screen and (max-width : 1200px){ .header-sticky #site-navigation ul li.megamenu > ul, .header-sticky #site-navigation ul li.megamenu-tabs > ul.sub-menu {left:0px;} }#mobile-site-header{width:100% !important;}#top-bar-wrapper, #top-bar-wrapper a, #top-bar ul li ul li a:after{color:#333333}#top-bar-wrapper a:hover{color:#db0a5b}#navigation-wrapper, #navigation-container, #navigation-inner, #menu-sidebar, #site-utility .search_button{height:60px;}#site-navigation ul li a, #site-utility .search_button, #menu-sidebar .widget-container, .secondary-menu-toggle, .secondary-menu-toggle i, #site-utility .header_cart_link{line-height:60px;}#navigation-container, #navigation-inner{background-color:#111111;}#secondary-navigation-wrapper{background-color:rgba(17,17,17,0.98);}#site-navigation ul li a, #site-utility .search_button, #site-navigation .header_cart_button, .toggle-mobile-menu i, #site-utility .header_cart_link i, .secondary-menu-toggle, #secondary-menu-sidebar .widget-title, #secondary-menu-sidebar ul li, #secondary-menu-sidebar ul ul li a, #secondary-menu-sidebar ul ul li a, .secondary-navigation-close, #secondary-navigation a, .header-search .search-input {color:#ffffff}#secondary-menu-sidebar .secondary-menu-widget-area {border-color:#ffffff}.header-style-1 #site-navigation, .header-style-2 #site-navigation {margin-left:-30px;}#site-navigation ul li ul li a:hover, #site-navigation ul li ul li.current-menu-item > a,.single-post #site-navigation ul li ul li.current_page_parent > a, #site-navigation ul li ul li.current-menu-ancestor > a {background-color:#f7f7f7}#site-navigation ul li ul li a, #site-navigation ul li ul li a:hover {color:#777777}#site-navigation ul li.megamenu ul li ul li a:hover, #site-navigation ul li.megamenu ul li.current-menu-item > a, #site-navigation ul li.megamenu-tabs .submenu-content .tabs-nav li:hover > a, #site-navigation ul li.megamenu-tabs .submenu-content .tabs-nav li.nav-active a  {color:#db0a5b;}#site-navigation ul li.megamenu > ul > li > a, #site-navigation ul li.megamenu > ul > li > a:hover{color:#2b2b2b !important}#site-navigation ul li.megamenu-tabs .submenu-content .tabs-nav li a {color:#2b2b2b}#site-logo img.retina-logo{width:173px; height:90px;}#mobile-site-header #site-logo img.retina-logo{width:122px; height:70px;}input[type='submit']:hover, button:hover {background-color:#2b2b2b}.entry-header .entry-meta, .entry-header .entry-meta a {color:#444444}.page-sidebar .widget{color:#454545}.views-low{color:#c4c4c4}.views-mid{color:#dd9933}.views-hot{color:#CB0404}body{background-position:center center; background-attachment:fixed; background-size:cover}body, textarea{font-family: "Roboto";}body{color:#333333; font-size:16px}#content h4.wpb_toggle, .mp-author a, .entry-meta-blog .meta-author, .entry-meta-blog .meta-date {color:#333333;}#site-navigation, #site-navigation ul li a{font-family: "Roboto";}h1, h2, h3, h4, h5, h6{font-family: "Roboto";}.single-post .entry-content{font-family: "Roboto";line-height:37px;letter-spacing:0.03em;}.single-post .entry-content, .single-post .post_lead_content {font-size:18px}.widget .widget-title{font-family: "Roboto";}h1{font-size:30px}h2{font-size:24px}h3{font-size:20px}h4{font-size:18px}h5{font-size:16px}h6{font-size:13px}h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#2b2b2b}.footer-sidebar .vc_col-sm-3:nth-child(1) {width:50%}.footer-sidebar .vc_col-sm-3:nth-child(2) {width:16.333%}.footer-sidebar .vc_col-sm-3:nth-child(3) {width:16.333%}.footer-sidebar .vc_col-sm-3:nth-child(4) {width:16.333%}.footer-sidebar a:hover, .footer-sidebar .widget_nav_menu ul li.current-menu-item a:hover {color:#e2e2e2}/* Hide WooCommerce header icon */body:not(.woocommerce) .header_cart_wrapper {display:none;}/* Social Comments */#social_comments_control ul li img, .woocommerce #social_comments_control {display:none;}/* Social Icons */#post-header-sidebar .essb_links {margin:1px 0 0 0; text-align:right;}.post_lead_content .essb_links.essb_template_jumbo-retina {margin:0;}.essb_links.essb_template_jumbo-retina li:last-child a {margin-right:0px;}.essbfc-network .essbfc-icon {padding-top:25px;}.essbfc-network .essbfc-followers-text {margin-bottom:22px !important;}.essb-click-to-tweet-button {line-height:normal;}.essb_links.essb_displayed_sidebar.essb_template_jumbo-retina.essb_nospace li:last-child a {border-radius:0px;}.essb_links.essb_displayed_sidebar.essb_template_jumbo-retina.essb_nospace li:first-child a {border-radius:0px;}.archive-style-2 .essb_links.essb_template_jumbo-retina, .archive-style-3 .essb_links.essb_template_jumbo-retina {clear:none;}.mp-layout-2 .mp-container .essb_links, .mp-layout-3 .mp-container .essb_links, .mp-layout-4 .mp-container .essb_links, .archive-layout.archive-style-1 .essb_links, .archive-layout.archive-style-2 .essb_links, .archive-layout.archive-style-3 .essb_links, .archive-layout.archive-style-4 .essb_links, .archive-layout.archive-style-5 .essb_links, .archive-layout.archive-style-6 .essb_links {margin-bottom:25px;}.mp-medium.mp-layout-2 .mp-container .essb_links, .mp-medium.mp-layout-2 .mp-container .essb_links  {margin-bottom:15px;}.mp-small.mp-layout-2 .mp-container .essb_links, .mp-small.mp-layout-2 .mp-container .essb_links  {margin-bottom:10px;}

#pager .pagination{
    list-style: none;
}

#pager .pagination li{
    float: left;
    padding: 0px 2px;
}

#pager .pagination li a, .pagination li a:hover{
    text-decoration: none;
}

#pager .pagination li.current a{
    background-color: #db0a5b;
}

#pager .pagination li.prev_page a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: inherit;
    font-size: 11px;
    height: auto;
    margin-right: 7px;
    padding-left: 0;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.15s ease 0s;
    vertical-align: -6px;
    width: auto;
}

#pager .pagination li.next_page a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: inherit;
    font-size: 11px;
    height: auto;
    margin-left: 7px;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.15s ease 0s;
    vertical-align: -6px;
    width: auto;
}

#pager .pagination li.prev_page a:hover{
    color: #db0a5b;
}

#pager .pagination li.next_page a:hover{
    color: #db0a5b;
}

#pager .pagination li.disabled span{
    display: none;
}

#categories-3 .cat-item a:hover{
    color: #fff;
}

#oneArticle .entry-title{
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 25px;
    color: #2b2b2b;
    font-family: "Roboto";
}
