.article-item {
  margin-bottom: 15px;
}
.article-item .article-title,
.article-item .article-title a {
  color: inherit;
  margin: 0;
}
.article-item .article-meta,
.article-item .article-meta a {
  color: #999;
  font-size: .85em;
}
.article-item .article-meta a {
  text-decoration: underline;
}
.article-item .article-thumb {
  margin-right: 10px;
  margin-bottom: 10px;
}
.article-item .article-text {
  margin-top: 7px;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}

a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.logo_header_new a{
    color:#000;
    text-decoration: none;
    font-size: 190px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo_header_new a:hover{
    color:#000;
}

@font-face {
  font-family: ff-dagny-web-pro;
  src: url(https://fonts.typekit.net/af/427b85/0000000000000000000118e2/21/l?subset_id=2&fvd=n7) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: nimbus-sans-condensed;
  src: url(https://fonts.typekit.net/af/1c00d9/000000000000000000010125/21/l?subset_id=2&fvd=n7) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: lust-display;
  src: url(https://fonts.typekit.net/af/381a93/000000000000000000014312/21/l?subset_id=2&fvd=n4) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header_background_imgvid {
  height: 240px;
}

.navbar nav ul, .navbar nav li{
  min-height: 40px;
}

.navbar nav li:hover{
  background-color: #333;
  cursor: pointer;
}

ul.menu-main, div.menu-main > ul {
  margin: 0;
  padding: 0;
}

.menu-main li {
  display: inline-block;
  position: relative;
}

.menu-main li a {
  color: #141412;
  display: block;
  font-family: "nimbus-sans-condensed",sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 8px;
  padding: 12px 35px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-out 0s;
  min-height: 40px;
}

.navbar nav li.has-sub a:after{
  content: '\f0dd';
  font-family: FontAwesome;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 2px;
  position: absolute;
  top: -3px;
}

#topmenu .second-menu{
  display: none;
  position: absolute;
  width: 900px;
  height: 200px;
  background: #aaaaaa;
  margin: 0 auto;
  padding: 0;
}

/*#topmenu::after, #cssmenu > ul::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}*/
#topmenu {
  background: #ffffff none repeat scroll 0 0;
  display: table;
  font-family: "Open Sans",sans-serif;
  line-height: 1;
  width: 100%;
  border: 1px solid green;
}
#topmenu, #topmenu ul, #topmenu ul li, #topmenu ul li a {
  border: 0 none;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
}
#topmenu #menu-button-desktop::before {
  border-bottom: 4px solid #000000;
  border-top: 4px solid #000000;
  content: "";
  display: block;
  height: 5px;
  left: 20px;
  position: absolute;
  top: 21px;
  width: 30px;
}
#topmenu #menu-button-desktop::after {
  background: #000000 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 4px;
  left: 10px;
  margin-left: 10px;
  position: absolute;
  top: 12px;
  width: 30px;
}
#inner-header #topmenu #menu-button-desktop {
  border-right: 1px solid #c8c8c8;
  display: table-cell;
  float: none;
  height: 6px;
  padding-right: 60px;
  position: relative;
  z-index: 9;
}
#topmenu #menu-button-desktop {
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
}

#inner-header #topmenu #self_logo_sticky {
  background: rgba(0, 0, 0, 0) url("../../images/self-sprite.png") no-repeat scroll 0 0;
  border-right: 1px solid #c8c8c8;
  display: none;
  width: 156px;
}
#topmenu nav {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /*position: relative;*/
  width: 100%;
  border: 1px solid red;
}
#topmenu nav .menu-main-nav-menu-container{
  width: 900px;
  border: 1px solid blue;
  margin: 0 auto;
}

/*#inner-header #topmenu nav ul li {
  display: inline-block;
  float: none;
  padding: 0 10px;
}*/
#topmenu nav ul li {
  float: left;
  padding: 0 10px;
}

#inner-header #topmenu .search_img::before {
  display: table-cell;
  font-size: 24px;
  vertical-align: middle;
}
#inner-header #topmenu .search_img {
  border-left: 1px solid #c8c8c8;
  display: table;
  float: none;
  height: 43px;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 3px;
  position: relative;
  right: 0;
  vertical-align: middle;
}
#inner-header #topmenu .header_social_icons {
  display: none;
}
#inner-header #topmenu .header_social_icons ul {
  border-left: 1px solid #c8c8c8;
  margin: 0;
}
#inner-header #topmenu .header_social_icons ul li {
  display: inline-block;
}
